/*1°-Asignamos los estilos de nuestras clases reutilizables, estas evitarán volver a insertan el mismo estilo a cada etiqueta html*/

* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.71429;
    outline: 1px solid rgb(99, 8, 99);
    font-family: 'Lato', sans-serif;
}

/*Se inserta margen general en cero para no tener inconvenientes con los margenes que se asignan por defecto a las etiquetas de nivel bloque*/

img{
    max-width:100%;
}

.text-uppercase {
    text-transform: uppercase;
}

/*------------------------nav-------------------------------*/

/*- usamos POSITION:FIXED para darle el efecto caracteristico a la barra de navegación
-Fijamos el padding en nav porque creemos que al ser el contenedor principal , debe de cimentar los margenes de comportamiento de los elementos hijo.
*/
nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding: 22px 131px 24px 156px;
    background-color: #2c3e50;
}

.container_nav{
    height: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700px;
    color:#fff;
}

/*mediante FLOAT:LEFT y FLOAT:RIGHT cambiamos el comportamiento a las etiquetas navbar_name y navbar_list y ambas tendran como referente a la etiqueta padre nav, que esta posicionado con FIXED.*/

.navbar_name{
float: left;
}

.name_page{
    display: block;
    padding-top: 2px;
    font-size:36px;
    font-weight:700px;
    text-decoration:none;
    color:#fff;
}

/*Mediante margin y padding podemos darle el estilo adecuado para que encaje segun la pagina web a replicar*/

/*Usamos porcentajes en las medidas de margin  y padding para darle la carácteristica más responsive a nuestra pagina web*/

.navbar_list{
    width: 370px;
    float: right;
}

.navbar_list_element{
    display:inline;
    text-decoration:none;
    margin: 7px;
    font-weight: 700px;
    font-size: 18px;
}

/*------------------------header-------------------------------*/

header{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #18bc9c;
}

.container_header{
    height: auto;
    padding: 10px 200px 45px 200px;
    font-family: 'Montserrat',sans-serif;
    color:#fff;
}

.header_profile{
    text-align: center;
}

.header_intro{
    text-align: center;
}

.header_welcome{
    text-align: center;
    font-weight: 700px;
}

.header_welcome_span  {
    display: block;
    padding: 2px 0px 0px 18px;
    font-size: 84px;
}

.header_icon_star{
    max-width: 250px;
    border-width: 2px;
    border-style:solid;
    margin-top: 16px;
}

/*uso pseudoelemento ::after*/
.icon-star-full::after{
    display:inline-block;
    position:relative;
    bottom:33px;
    padding:6px;
    text-align: center;
    font-size:32px;
    background-color: #18bc9c;
}

/* Usamos la propiedad text-transform: capitalize; para evidenciar que en nuestra estructura HTML, la data puede ir de cualquier forma y haciendo uso de la hoja de estilos CSS se puede modificar la visualizacion de este contenido al interpretarse en el navegador*/

.header_phrase{
    font-size: 22px;
    font-weight: 300px;
    text-transform: capitalize;
}

.header_phrase h3{
    margin:0px;
    position:relative;
    bottom:23px;
}

/*-------------------------portfolio---------------------------------*/
.portfolio_presentation{
    height: auto;
    padding: 90px 0px 122px 0px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    background-color: #fff;
    color:#2c3e50;
}

.portfolio_welcome_span {
    font-size: 52px;
}

.portfolio_icon_zoom{
    max-width: 250px;
    border-width: 2px;
    border-style:solid;
    margin-top: 11px;
    text-align: center;
}

/*posicionamos el pseudoelemento con position:relative y poder ubicarlo segun los margenes de la replica  aseguir*/

.portfolio_presentation span::after{
    display:inline-block;
    position:relative;
    right: 4px;
    padding:6px;
    text-align: center;
    font-size:32px;
    background-color: #fff;
}

.portfolio_container{
    padding: 0px 157px 0px 157px;
}

/*mediante la propiedad column-count podemos ubicar a la imagenes dentro de su contenedor de forma homogena y simetrica*/

.portfolio_images{
    column-count: 3;
    column-gap: 25px;
    margin-top: 10px;
}

figure{
    margin:0px;
    padding:0px;
}


/*-----------------------about-------------------------------------*/

.about_presentation{
    height: auto;
    padding: 95px 250px 145px 250px;
    font-family: 'Montserrat',sans-serif;
    background-color: #18bc9c;
    color:#fff;
    
}

.about_welcome_span{
    display: block;
    text-align: center;
    font-size: 52px;
}

.about_text{   
    padding: 10px;
    column-count: 2;
    column-gap: 20px;
}

.about_text p{
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size:24px;
}

.about_icon_zoom{
    max-width: 250px;
    border-width: 2px;
    border-style:solid;
    margin-top: 18px;
    text-align: center;
}

.about_presentation span::after{
    display:inline-block;
    position:relative;
    left: 520px;
    padding:6px;
    text-align: center;
    font-size:32px;
    background-color: #18bc9c;
}

button{
    background-color: #18bc9c;
    padding: 14px;
    position: relative;
    left: 410px;
    top: 35px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size:24px;
    text-transform: capitalize;
    
}
/* uso de pseudoelemento ::before*/
.icon-download2::before{
    content: "\e9c5";
    color:#fff;
    margin-right: 5px;
}

/*---------contact------------*/

.container_contact{
    height: auto;
    padding: 132px 250px 131px 250px;
    font-family: 'Montserrat',sans-serif;
    background-color: #fff;
    color: #2c3e50;
}

.container_contact .contact_welcome{
    display: block;
    text-align: center;
    font-size: 52px;
}

.contact_icon_zoom{
max-width: 250px;
border-width: 2px;
border-style:solid;
margin-top: 18px;
text-align: center;
}

.container_contact span::after{
    display:inline-block;
    position:relative;
    left: 515px;
    padding:6px;
    text-align: center;
    font-size:32px;
    background-color: #fff;
}

.contact_form{
    text-align: center;
    padding: 0px 200px 0px 200px;
    font-size:24px;
}

input[type=text] {
    width: 100%;
    padding: 20px 20px;
    margin: 15px 0;
    display: inline-block;
    border:  #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=send] {
    width: 25%;
    background-color: #18bc9c;
    color: white;
    padding: 20px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/*-----footer-----*/

.container_footer{
    height: auto;
    padding: 100px 40px 80px 40px;
    font-family: 'Montserrat',sans-serif;
    background-color: #2c3e50;
    color:#fff; 
    column-count: 3;
    column-gap: 10px;
    }

ul{
    list-style-type: none;
}

.footer_bootstrap span{
    display: block;
}

.icon-google-plus3:before {
    content: "\ea8d";
    }
.icon-facebook:before {
    content: "\ea90";
    }
.icon-twitter:before {
    content: "\ea96";
    }
.icon-dribbble:before {
    content: "\eaa7";
    }
.icon-linkedin2:before {
    content: "\eaca";
    }